.page {
  padding-top: 120px;

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .canvasContainer {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .control {
      p {
        padding: 20px;
      }

      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.viewerPage {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .canvasContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}