
.controlPage {
  background-color: white;

  .controlWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;

    .buttonGroup {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .controlButton {
        margin-top: 1rem;
      }

      [role='separator'] {
        width: 100%;
        margin-top: 1rem;
      }

    }
  }
}

.scene {
  text-align: center;
  font-size: 2rem;
  color: white;
}

.buttonStartVR {
  position: absolute;
  width: 400px;
  height: 200px;
  top: calc(50vh);
  left: calc(50vw);
  transform: translate(-50%, -50%);
  padding: 1rem 2rem;
  font-size: 3rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  cursor: pointer;
  border-radius: 2rem;
  border: 1px solid rgba(100, 100, 120, 0.2);

  &:hover {
    background-color: rgba(255, 255, 255, 0.12);
  }

}

.viewer {
  width: 100%;
  background-color: #000000;
}